.userview {
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.user-body {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-image img {
  object-fit: cover;
  width: 100%;
}

.user-body button {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(28, 130, 255);
    outline: none;
    border: none;
    color: white;
}