
 
 /*Card footer*/
 .card-social {
  margin-bottom: 30px;
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 

 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
